/* Global Styles */
body {
    background-color: #0d0111; /* Dark background */
    color: #fff; /* White text color globally */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
  }
  
  
  /* .myHome Container */
  .myHome {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: -20px;
  }
  
  /* HomeIntro Styles */
  .HomeIntro {
    text-align: start;
    color: #fff;
    margin-top: 70px;
  }
  
  .HomeIntro h1 {
    font-size: 2.5rem;
    margin: 0;
  }
  
  .HomeIntro h2 {
    font-size: 1.8rem;
  }
  
  .HomeIntro h3 {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  /* Styling for Image */
  .homeImg img {
    margin-top: 30px;
    width: 480px;
    height: auto;
    border-radius: 10px;
    border: 2px solid rgb(223, 197, 198);
    box-shadow: 20px 20px 10px rgba(228, 98, 98, 0.981); /* Soft purple shadow */
    animation: boxShadowAnimation 2s infinite; /* Apply the animation here */
  }
  
  /* Box Shadow Animation */
  @keyframes boxShadowAnimation {
    0% {
      box-shadow: 0px 0px 15px rgba(206, 77, 131, 0.2); /* Start with a soft shadow */
    }
    50% {
      box-shadow: 30px 30px 50px rgb(243, 111, 111); /* Make the shadow larger and more pronounced */
    }
    100% {
      box-shadow: 0px 0px 15px rgba(206, 95, 125, 0.2); /* Return to the soft shadow */
    }
  }
  
  .homeImg img:hover {
    transform: scale(1.1); /* Zoom in effect */
  }
  
  /* Slide-In Animation */
  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .HomeIntro h1,
  .HomeIntro h2,
  .HomeIntro h3 {
    animation: slideIn 2s ease-out;
  }
  
  /* Styling for Section */
  #home {
    margin-top: -60px; /* Reduce the top margin to bring it higher */
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh; /* Make the section take full viewport height */
  }
  
  