/* Global Styles */
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
  scroll-behavior: smooth;

  margin: 0;
  padding: 0;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;

}

.navbar-brand {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
}

.navbar-links a:hover {

}

/* Hamburger Menu */
.menu-toggle {
  display: none;
  font-size: 1.8rem;

  
  border: none;
  color: white;
  cursor: pointer;
}

/* Responsive Navbar */
@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links a {
    display: block;
    padding: 10px;
   
  }

  .menu-toggle {
    display: block;
    width: 30px;
    height: 50px;
    background-color: #ffffff00;

   
  }
}
.footer-content{
  text-align: center;
}